/.idea/Averis_Monash_Hackathon.iml
/.idea/dbnavigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/frontend/src/views/HomeView.vue
/frontend/src/views/InboxView.vue
/frontend/src/router/index.js
/.ai/mcp/mcp.json
.idea/workspace.xml
*.xml
